[Desktop Entry]
Type=Application
Name=LBA2 Classic Community
Comment="A community fork for evolving and modernizing the soruce port"
Exec=lba2
Icon=lba2
StartupWMClass=lba2
Categories=Game;Adventure;Platform;
